requests
Flask

# i18n
Flask-Babel

Flask-WTF
flask-login
email-validator
Flask-Assets
cssmin
Pillow
progress

# db / ORM
SQLAlchemy
sqlalchemy-utils
# Postgres support
psycopg2-binary

# Python analysis
pylint
dlint
flake8
