input,
textarea,
label {
	display: block;
	font-family: inherit;
}

[type="text"], textarea {
	border: 1px solid var(--body-fg);
	padding: .3em .5em;
	border-radius: .5em;
}

*::placeholder {
	color: var(--dark-gray);
}

.decorated-input {
	display: flex;
	flex-direction: row;
	background: white;
	border-radius: .33rem;
	padding: .3em .5em;
}

.decorated-input input {
	border: none;
	width: 100%;
	border-radius: 0;
	outline: none;
}

.decorated-input .decoration {
	color: var(--yellow);
	padding-right: 1em;
}

