:root {
	--page-width: 960px;

	--blue: #BBDEFB;
	--yellow: #F9D564;
	--yellow-darker: #ECBD22;
	--yellow-muted: #FFEDB4;
	--gray: #F2F2F2;
	--dark-gray: #525252;

	--z-tooltip: 10;
	--z-fixed: 100;

	--body-bg: #FFFFFF;
	--body-fg: #707070;
	--body-fg-light: #A6A6A6;
	--title-color: #393939;


	--header-height: 3.5rem;
	--header-padding: 1rem;
	--header-height-total: 5.5rem;

	--text-size-xxl: 200%;
	--center-on-mobile: default;
	--two-line-on-mobile: default;
}

@media screen and (max-width: 768px) {
	:root {
		--text-size-xxl: 130%;
		--center-on-mobile: center;
		--two-line-on-mobile: 2rem;
	}
}
