{% extends "admin/base.html" %}

{% block content %}

<!-- Attention, ce style est à reprendre et à retirer lorsqu'on s'occupera du front pour la suite,
il permet juste de cliquer sur les bouton pour choisir le thème du coup de coeur ! -->
<style>
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-theme-content {
    display: none;
}
.dropdown-theme-content button {
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-theme-content {
    display: block;
}
</style>

<h2>Modération</h2>

{% if letter %}
<div>Date d'écriture de la lettre : {{ letter.created_at }}</div>
<div>L'auteur•e de la lettre : {{ letter.email }}</div>
<form id="moderation_form" action="" method="post">
    <input type="text" hidden name="letter_id" value="{{ letter.id }}">
    <label for="gender">La lettre s'adresse à :</label>
    {% if letter.is_male %}
    <select id="gender" name="gender" form="moderation_form">
        <option value="{{ letter.is_male }}" selected>Un homme</option>
        <option value="">Une femme</option>
    </select>
    {% else %}
    <select id="gender" name="gender" form="moderation_form">
        <option value="" selected>Une femme</option>
        <option value="{{ True }}">Un homme</option>
    </select>
    {% endif %}
    <textarea name="content" style="width:600px; height: 300px">{{ letter.content }}</textarea>
    <input type="text" name="signature" value="{{ letter.signature }}">
    <button name="status" value="approved" type="submit">Approuver</button>
    <button name="status" value="rejected" type="submit">Refuser</button>
    <div class="dropdown">
        <button class="button-cdc">Coup de coeur</button>
        <div class="dropdown-theme-content">
            <button name="theme" value="travel" type="submit">Voyage</button>
            <button name="theme" value="funny" type="submit">Drôle</button>
            <button name="theme" value="emotional" type="submit">Émouvant</button>
            <button name="theme" value="other" type="submit">Autre</button>
        </div>
    </div>
</form>
{% else %}
<div>Aucune lettre à modérer</div>
{% endif %}
{% endblock %}