#write-a-letter {
	padding-top: 1.5rem;
}

#gender-select {
	text-align: center;
	margin-bottom: 4em;
}

#gender-select .select {
	max-width: 250px;
	margin: 2em auto;
	box-shadow: 0 2px 4px rgba(3,74,40,.15);
	padding: 2em;
	cursor: pointer;
}

#gender-select .select.active {
	border: .5em solid var(--blue);
}

#gender-select .select:hover {
	box-shadow: 0 8px 8px rgba(3,74,40,.15);
}

#letter-box {
	background-color: var(--gray);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 8px 20px rgba(35,0,77,.2);
	margin-bottom: 4em;
}

#letter-box input,
#letter-box textarea {
	font-size: 1.15rem;
	border: none;
	padding: .5rem 1rem;
	border-radius: .5rem;
	margin: .5rem 0;
}

#letter-box textarea {
	width: 100%;
	resize: none;
	height: 15rem;
}

#letter-box .comma {
	font-size: 1.75rem;
	font-weight: bold;
}

#letter-box [name="greeting"] {
	margin-right: .5rem;
	display: inline-block;
}

#letter-box [name="signature"] {
	display: block;
	width: 40%;
	margin-left: auto;
	min-width: 300px;
}

#about-writter {
	margin-top: 4rem;
}

#write-a-letter [type="submit"] {
	font-size: 1.25em;
	margin: 2em;
}
