{% extends 'base.html' %}

{% block content %}
<main id="landing">
	<section class="home">
		<div class="container grid">
			<div class="text">
				<img src="{{ url_for('static', filename='logo/logo-150x.png') }}">
				<h2 class="title">De l'amour en quelques clics</h2>
				<p>Écrire des lettres aux personnes âgées isolées</p>
				<p>
					<a class="button" href="{{ url_for('main.write') }}">Écrire une lettre</a>
				</p>
			</div>
			<img class="image" src="{{ url_for('static', filename='assets/art/read_letter_male.gif') }}">
		</div>
	</section>

	<section id="about">
		<div class="container grid">
			<img class="image" src="{{ url_for('static', filename='assets/stock/closeup_smiling_female.jpg') }}">
			<div class="text">
				<p class="subtitle">Qui sommes nous ?</p>
				<h2 class="title">
					Nous combattons une pandémie de la solitude
				</h2>
				<p>
					Nous somme une organisation à but non lucratif qui fait parvenir des
					lettres aux personnes âgées isolées. Nous aidons ceux qui souffrent de
					l'isolement avec de l'amour et des lettres.
				</p>
				<p>
					<a href="{{ url_for('main.index') }}" class="button">En savoir plus</a>
				</p>
			</div>
		</div>
	</section>

	<section id="how-it-works">
		<div class="container">
			<p class="subtitle">Fonctionnement</p>
			<h2 class="title">Comment ça marche</h2>
			<div class="container grid cells">
				<div>
					<img src="{{ url_for('static', filename='assets/icons/writing.svg') }}">
					<h3>Écriture</h3>
					<p>lorem</p>
				</div>
				<div>
					<img src="{{ url_for('static', filename='assets/icons/verified.svg') }}">
					<h3>Relecture</h3>
					<p>lorem</p>
				</div>
				<div>
					<img src="{{ url_for('static', filename='assets/icons/mail.svg') }}">
					<h3>Envoi</h3>
					<p>lorem</p>
				</div>
			</div>
			<p>
				<a href="{{ url_for('main.write') }}" class="button">Écrire une lettre</a>
			</p>
		</div>
	</section>

</main>
{% endblock %}
