{% extends 'base.html' %}

{% block content %}

{% if current_user.is_anonymous %}
<ul>
    <li><a href="{{ url_for('main.login') }}">Connexion</a></li>
    <li><a href="{{ url_for('main.register') }}">Inscription</a></li>
</ul>
{% else %}
<h3>Bienvenue, {{ current_user.email }}</h3>
<ul>
    <li><a href="{{ url_for('main.logout') }}">Déconnexion</a></li>
    {% if current_user.can_moderate %}
        <li><a href="{{ url_for('admin.moderation') }}">Modérer des lettres</a></li>
        <li><a href="{{ url_for('admin.moderation_recipient') }}">Modérer des établissements</a></li>
    {% endif %}
    {% if current_user.can_see_stats %}
        <li><a href="{{ url_for('admin.index') }}">Dashboard admin</a></li>
    {% endif %}
</ul>
{% endif %}

<div>
	<a href="{{ url_for('main.write') }}" class="button">Écrivez une lettre</a>
</div>
<div>
	Vous représentez un EHPAD ou une association et vous souhaitez recevoir des lettres?
    <a href="{{ url_for('main.register_recipient') }}" class="button">Inscrivez votre établissement ou association</a>
</div>
{% if current_user and current_user.recipients|length > 0 %}
<div>
	<p>Vos établissements (cliquez pour modifier les informations):</p>
	<ul>
	{% for recipient in current_user.recipients %}
		<li><a href="{{ url_for('main.edit_recipient', recipient_id=recipient.id) }}">{{ recipient }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<div>
    <a href="{{ url_for('main.recipient_list') }}" class="button">Qui reçoit vos lettres</a>
</div>
<div>
    <a href="{{ url_for('main.contact') }}" class="button">Nous contacter</a>
</div>

{% endblock %}
