{% extends 'base.html' %}

{% block content %}
    <h1>{{ recipient.name }}</h1>
    <h3>Informations</h3>
    <div>
        <b>Inscrit depuis le</b> {{ recipient.created_at.strftime('%d/%m/%Y') }}<br>
        <b>Type de structure :</b> {{ recipient.type }}<br>
        <b>Adresse :</b> {{ recipient.address }}, {{ recipient.city }} {{ recipient.zipcode }}<br>
        Reçoit <b>{{ recipient.nb_letters }} lettres</b> tous les <b>{{ recipient.frequency }} mois</b><br>
        <b>Langues acceptées : </b>
        <ul>
            {% for language in recipient.languages %}
            <li> - {{ language }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('main.edit_recipient', recipient_id=recipient.id) }}">Modifier les informations</a><br>
        <a href="{{ url_for('main.remove_current_user_recipient', recipient_id=recipient.id) }}">
            Me désinscrire de cet établissement
        </a>
    </div>
    <div>
    <h3>Utilisateurs</h3>
    {% if recipient.pending_users %}
        <h4>En attente</h4>
        <span>
            Ces utilisateurs ont demandé à rejoindre votre établissement. Si vous les acceptez, ils reçevront les lettres
            destinées à cet établissement et pourront modifier les informations.
        </span>
        <form action="{{ url_for('main.validate_pending_user', recipient_id=recipient.id) }}" method="post">
            <table>
                {% for user in recipient.pending_users %}
                <tr>
                    <td>{{ user }}</td>
                    <td><button name="accept" value="{{ user.id }}" type="submit">Accepter</button></td>
                    <td><button name="reject" value="{{ user.id }}" type="submit">Refuser</button></td>
                </tr>
                {% endfor %}
            </table>
        </form>
        <h4>Actifs</h4>
    {% endif %}
    <ul>
        {% for user in recipient.users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    </div>
    <h3>PDF reçus</h3>
    {% if packages.items %}
    <table>
        <thead>
            <tr>
                <th>Date d'envoi</th>
                <th>Nombre de lettres</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages.items %}
            <tr>
                <td>{{ package.created_at.strftime('%d/%m/%Y') }}</td>
                <td>{{ package.letters | length }}</td>
                <td><a href="{{ url_for('main.download_package', package_id=package.id) }}">Télécharger</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if packages.has_prev %} <a href="?page={{ packages.prev }}">Page précédente</a>{% endif %}
    {% if packages.has_next %} <a href="?page={{ packages.next }}">Page suivante</a>{% endif %}
    {% else %}
    <div>Aucun PDF reçu pour l'instant.</div>
    {% endif %}
    <div>
        <a href="{{ url_for('main.user_home') }}">Retour</a>
    </div>
{% endblock %}