{% extends 'user_home.html' %}

{% block tab_content %}
    <div style="margin-bottom: 2em;">
        <h2>Mes Etablissements</h2>
        {% if recipients.count() > 0 %}
            <ul>
                {% for recipient in recipients %}
                    <li>
                        <a href="{{ url_for('main.recipient_detail', recipient_id=recipient.id) }}">{{ recipient }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if pending_recipients.count() > 0 %}
            <h4>En attente de validation</h4>
            <ul>
                {% for recipient in pending_recipients %}
                    <li>
                        {{ recipient }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <a href="{{ url_for('main.join_existing_recipient') }}">Rejoindre un autre établissement/organisme</a>
{% endblock %}