{% extends 'user_home.html' %}

{% block tab_content %}
    {% if ehpads.count() > 0 %}
        <div style="margin-bottom: 2em;">
            <h2>Mes EHPAD</h2>
            <ul>
                {% for ehpad in ehpads %}
                <li>
                    <a href="{{ url_for('main.recipient_detail', recipient_id=ehpad.id) }}">{{ ehpad.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if associations.count() > 0 %}
        <div style="margin-bottom: 2em;">
            <h2>Mes associations</h2>
            <ul>
                {% for asso in associations %}
                <li>
                    <a href="{{ url_for('main.recipient_detail', recipient_id=asso.id) }}">{{ asso.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <a href="{{ url_for('main.join_existing_recipient') }}">Rejoindre un autre établissement/organisme</a>
{% endblock %}