{% extends 'user_home.html' %}

{% block tab_content %}
    <div style="margin-bottom: 2em;">
        <h2>Mes établissements</h2>
        <ul>
            {% for school in schools %}
            <li>
                <a href="{{ url_for('main.school_detail', school_id=school.id) }}">{{ school.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('main.join_existing_school') }}">Rejoindre un autre établissement</a><br>
    <div>
        <h2>Mes sessions d'écriture</h2>
        {% if writing_sessions.items %}
        <table>
            <thead>
                <tr>
                    <th>Date de création</th>
                    <th>Titre</th>
                    <th>Lien</th>
                    <th>Nombre de lettres</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for writing_session in writing_sessions.items %}
                <tr>
                    <td>{{ writing_session.created_at.strftime('%d/%m/%Y') }}</td>
                    <td>{{ writing_session.title }}</td>
                    <td>{{ url_for('main.write', writing_session=writing_session.id) }}</td>
                    <td>{{ writing_session.letters|length }}</td>
                    <td><a href="{{ url_for('main.writing_session_detail', session_id=writing_session.id) }}">Voir le détail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if writing_sessions.has_prev %} <a href="?page={{ writing_sessions.prev }}">Page précédente</a>{% endif %}
        {% if writing_sessions.has_next %} <a href="?page={{ writing_sessions.next }}">Page suivante</a>{% endif %}<br>
        {% else %}
        Aucune session créée pour l'instant <br>
        {% endif %}
        <a href="{{ url_for('main.create_writing_session') }}">Créer une nouvelle session d'écriture</a>
    </div>
{% endblock %}