{% extends 'user_home.html' %}

{% block tab_content %}
    <div style="margin-bottom: 2em;">
        <h2>Mes établissements</h2>
        <ul>
            {% for school in schools %}
            <li>
                {{ school.name }}
                (<a href="{{ url_for('main.remove_current_user_school', school_id=school.id) }}">
                    Me désinscrire de cet établissement
                </a>)
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('main.register_school') }}">Ajouter un nouvel établissement</a>
{% endblock %}