{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block content %}
    <div id="write-a-letter" class="page">
        <h2>Ecrivez une lettre</h2>
        {% if form.errors and config['DEBUG'] %}
        {{ form.errors }}
        {% endif %}
        <form method="post" id="form">
            {{ form.hidden_tag() }}
            <h3>Je souhaite écrire à :</h3>
            <div class="grid cols" id="gender-select">
                <div>
                    <div class="select active" data-is-male=0>
                        <img src="{{ url_for('static', filename='assets/art/elderly_woman.png') }}">
                        <p>Une femme agée isolée</p>
                    </div>
                </div>
                <div>
                    <div class="select" data-is-male=1>
                        <img src="{{ url_for('static', filename='assets/art/elderly_man.png') }}">
                        <p>Un homme agé isolé</p>
                    </div>
                </div>
            </div>
            <div id="letter-box">
                <div>
                    {{ form.greeting(placeholder="Cher Monsieur") }}<span class="comma">,</span>
                </div>
                <div>
                    {{ form.content }}
                </div>
                <div>
                    {{ form.signature(placeholder="Chaleureusement, Alice") }}
                </div>
                <div>
                    <p>Je souhaite accompagner ma lettre d'une image :</p>
                    {{ form.upload }}
                </div>
            </div>

            <hr>

            <div id="about-writter">
                <h3>Vous-y êtes presque</h3>
                <div class="grid cols aligned">
                    <div>
                        <h4>Qui êtes-vous ?</h4>
                        {{ form.email.label("Votre email") }}
                        {% if current_user.is_authenticated %}
                        {{ form.email(value=current_user.email) }}
                        {% else %}
                        {{ form.email }}
                        {% endif %}
                        <h4>Dans quelle langue est votre lettre ?</h4>
                        {{ form.language_code.label("Langue") }}
                        {{ form.language_code }}
                    </div>
                    <div>
                        <h4>D'où écrivez-vous ?</h4>
                        {{ form.country_code.label("Pays") }}
                        {{ form.country_code }}
                        {{ form.zipcode.label("Code postal") }}
                        {{ form.zipcode }}
                    </div>
                </div>
            </div>
            <div class="spaced">
                <div class="cols">
                    {{ form.terms_agreement }}
                    <label for="{{ form.terms_agreement.id }}">
                        J'accepte les <a>conditions d'utilisation</a>.
                    </label>
                </div>
            </div>
            <div class="grid">
                {{ form.submit(value="Envoyer ma lettre") }}
            </div>
            <div class="hidden">
                {{ form.is_male }}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <!--
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <script>
        var map_div = document.createElement("div");
        map_div.setAttribute("id", "map");
        map_div.style.height = '500px';
        map_div.style.width = '500px';
        map_div.style.marginLeft = '50px';
        var recipient_name = document.querySelector('[name="specific_recipient_name"]');
        recipient_name.setAttribute("hidden", "true")
        document.getElementById("form").insertBefore(map_div, recipient_name);

        var map = L.map('map').setView([48, 2], 5);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYmVuamFtaW5taW9uIiwiYSI6ImNrbzhlNHN0NzBqdngydm1xazlha2h2encifQ.8Y9jlRIVxfqxVz59K1BdCg'
        }).addTo(map);
        map_div.setAttribute("hidden", "true");

        {% for ehpad in ehpads if ehpad.latitude %}
        var marker = L.marker([{{ ehpad.latitude }}, {{ ehpad.longitude }}]).addTo(map);
        marker.bindPopup("<b>{{ ehpad.name }}</b><br>{{ ehpad.address }}, {{ ehpad.city }}");
        marker.on('click', function(){
            document.getElementById("specific_recipient_name").value = "{{ ehpad.name }}";
            document.getElementById("specific_recipient_id").value = {{ ehpad.id }};
        })
        {% endfor %}

        document.getElementById('specific_recipient_bool').addEventListener('change', (event) => {
            if (event.target.value === 'true'){
                map_div.removeAttribute("hidden");
                recipient_name.removeAttribute("hidden")
                map.invalidateSize();
            } else {
                map_div.setAttribute("hidden", "true");
                recipient_name.setAttribute("hidden", "true");
                document.getElementById("specific_recipient_name").value = "";
                document.getElementById("specific_recipient_id").value = null;
                map.closePopup();
            }
        });


    </script>
    -->
{% endblock %}
